# Obtained from the admin console of Websupport.sk
WS_API_KEY=XXX
WS_API_SECRET=XXX
WS_USER_ID=123

# The base domain name for which we'll be updating records.
WS_DOMAIN=XXX
# The domain name who's IP should be compared to the current IP.
# E.g. if we are only updating test.example.com, not example.com,
# we have to reflect this here.
WS_CHECK_DOMAIN=XXX

# List of records. Records can be only updated, not created 
# (create them manually first). Record IDs can be found for example
# in the record URL in the admin console.
WS_RECORD_ID_1=123
WS_RECORD_NAME_1=XXX

# You can specify up to 9 records that should be updated.
WS_RECORD_ID_2=123
WS_RECORD_NAME_2=XXX

# Finally, you can enter email address that should receive notifications
# about IP changes. Receiver can be anyone, but sender must be a Gmail
# address. Also, don't use your account password, use  the"App passwords"
# functionality: https://support.google.com/accounts/answer/185833?hl=en
# If you omit these three variables, no emails will be sent.
GMAIL_RECEIVER=XXX
GMAIL_USER=XXX@gmail.com
GMAIL_APP_PASSWORD=XXX